body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* header style */
#nav_style {
    background: navy;
}

#brazil_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 186px;
    height: 106px;
}

.search_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.search_box input {
    width: 50%;
    height: 16px;
    padding: 3px;
    font-size: medium;
}
.search_box button {
    background-color: white;
    height: 24px;
    vertical-align: bottom;
}
.nav_menu {
    width: 100%;
    display: inline-block;
    border-top: 1px solid white;
}

.nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_menu a:hover {
    text-decoration: underline;
}
.nav_menu li {
    float: left;
    width: 18%;
    position: relative;
}
.nav_menu a {
    color: white;
    text-decoration: none;
    font-size: 105%;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    background-color: navy;
    text-align: center;
    width: 100%;
    display: block;
}
.nav_menu ul ul li {
    float: none;
    font-size: 94%;
    width: 100%
}
.nav_menu ul ul {
    display: none;
    position: absolute;
    background-color: navy;
    width: 100%
}
.nav_menu ul li:hover>ul {
    display: block;
}
.nav_menu img {
    vertical-align: top;
    margin-right: 3px;
    margin-left: 3px;
}
#header_style::after {
    clear: both;
}

/* Product Page */
#sort-head{
    float: left;
    margin: 10px;
}
#filter-product{
    clear: both;
    margin: 10px;
    width: 180px;
    margin-left: 1px;
}

#product-block{
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    column-width: 200px;
    column-count: auto;
    margin: 10px;
}
.product_square {
    margin: auto;
    margin-bottom: 60px;
}
.product-link {
    display: block;
    text-decoration: none;
    color: black;
}
.product-link p {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 5px;
}
.product-link img {
    /* Centers the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-link:visited {
    color: black;
}
.product-link:hover {
    text-decoration: underline;
}
#disclaimer1{
    margin: 10px;
    margin-top: 20px;
}
#product_details, #product_details0, #product_details1, #brazil-info{
    margin: 10px;
    margin-top: 20px;
    font-style: italic;
}
#control{
    margin-left: 600px;
    margin-top: 30px;
}
#page_current{
    margin-top: 5px;
}
#page_control, #page_current{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

#page_control2{
    clear: both;
    margin-left: 10px;
}

/* Single Product Page */
#singleProduct img{
    float: left;
    width: 40%;
    margin: 34px;
}
#singleProduct main{
    display: block;
    text-align: left;

}
#singleProduct h2{
    text-align: center;

}
#singleProduct table, th, td {
    border: 1.5px solid black;
    border-collapse: collapse;
}
#singleProduct th{
    text-align: center;
    padding: 5px;
}
#singleProduct td{
    padding: 3px;
    text-align: center;
}
.category-link{
    color:black;
    font-size: 1.17em;
    font-weight: bolder;
}
.customer-link{
    color: black;
}
/* Homepage */
#homepage_content h2{
    margin: 10px;
    text-align: center;
}
#product_details1{
    margin-bottom: 100px;
}
/* Not Found Searh*/
#not_Found{
    margin: 10px;
    margin-bottom: 355px;
    text-align: left;
}

/* Seller Page */
.tableSeller{
    margin-left: auto;
    margin-right: auto;
}
/* Single seller view */
#singleSeller {
    margin: 30px;
}

/* Category Page */
#sort-head2{
    float: left;
    margin: 10px;
}
#category-filter{
    clear: both;
    margin: 10px;
    width: 200px;
    margin-left: 1px;
}

/* Footer */
#copy {
    text-align: center;
    color: white;
    font-size: 82%;
}

footer {
    margin-top:50px;
    clear: both;
    border: 2px solid navy;
    background-color: navy;
    bottom: 0;
}