<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: html_head">
        <title>Categories</title>
    </head>
    <body>
        <div th:replace="fragments :: navigation"></div>

            <p id="product_details" th:text="'There are a total of ' + ${general.getCount()} + ' categories in this dataset.' +
           ' The total average price of all categories is $' + ${general.getAvgPrice()} +'.' +
          ' The category with cheapest average has an average price of $' + ${general.getMinPrice()} +
           ' , while the category with the most expensive average has an average price of $' + ${general.getMaxPrice()} + '.'"></p>

            <div class="products">
                <p id="sort-head2"><b>Sort By: </b></p>
                <form action="/categories" method="get" >
                    <select onchange="this.form.submit()" name="sort" id="category-filter">
                        <option value="sort-select">Select Sort</option>
                        <option value="highToLow">Average Price: High to Low</option> <!-- Default is high to low-->
                        <option value="lowToHigh">Average Price: Low to High</option>
                        <option value="best-seller">Best Selling Categories</option>
                    </select>
                </form>


                <!-- Displays all the products -->
                <div id="product-block" >
                    <div class="product_square" th:each="category : ${categories}">
                        <a th:href="@{${'/category?id=' + category.getId()}}" class='product-link'>
                            <img th:src="@{${'https://loremflickr.com/300/200/' + category.getName()}}" alt='Item'>
                            <p th:text="${category.getName()}">Category Name</p>
                            <p th:text="'The minimum price of items in this category is $'+ ${category.getMin()}
                            + ' and the maximum price is $' + ${category.getMax()}">Category Prices</p>
                            <p th:text="'The average price of items in this category is $' + ${category.getAvg()}">Category Name</p>
                        </a>
                    </div>
                </div>

                <div id="control">
                    <a id="page_control" th:href="@{'/categories?page=' + ${prev} + '&sort='+ ${sort}}" th:with="prev=(${page} -1)"><button type="button">Previous</button></a>
                    <p id="page_current" th:text="${page}"></p>
                    <a id="page_control2" th:href="@{'/categories?page=' + ${next} + '&sort='+ ${sort}}"  th:with="next=(${page}+1)"><button type="button">Next</button></a>
                </div>
            </div>

        </div>

        <div th:replace="fragments :: footer"></div>
    </body>
</html>