<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
                background-color: powderblue;
            }

            h2 { 
                display: inline;
                padding-right: 4em;
            }
            input {
                padding-left: 4em;
                text-align: center;
            }
        </style>
        <meta charset="UTF-8">
        <title>Brazil Shop</title>
    </head>

    <body>
        <h2>Brazilian Overstock</h2>
        <!-- <label for="nav-search">Search links</label> -->
        <input type="search" id="nav-search" placeholder="Search for anything">
    </body>
</html>